*{
    box-sizing:border-box;
    margin: 0;
}
a:visited {
    text-decoration: none;
    border: 0;
}
a:link {
    text-decoration: none;
    border: 0;
}

html,body{height: 100%}
.clear{
    clear: both;
}
.header{
    background-color:#E8EBF1;
    padding:10px;
}
.header .content{
    width:100%;
    background-color: white;
    border-bottom: 1px solid #E8EBF1;
    overflow: hidden;
}
.header .content .adviser{
    position:absolute;
    padding:2px 4px;
    right: 10px;
    font-size: 12px;
    color: rgba(67,59,255,0.5);
    background-color:rgba(67,59,255,0.2);
}
.header .content .photo{
    width:70px;
    height: 70px;
    overflow: hidden;
    margin:10px;
    float:left;
}
.header .content .photo img{
    width:100%;
    height: 100%;
}
.header .content .contact{
   float:left;
    padding: 10px 0 10px 10px;
}
.header .content .contact .name{
    color: #333333;
    padding:2px;
    font-size: 16px;
}
.header .content .contact div{
    color: #999999;
    padding:2px;
    font-size: 14px;
}
.header .call{
    background-color: white;
    padding: 5px;
    overflow: hidden;
}
.header .call div{
    margin-left: 35%;
    width:30px;
    height: 30px;
    float: left;
}
.header .call span{
    padding-left: 0px;
    color: #3B91FF;
    font-size: 18px;
    float: left;
}
.search{
    width: 100%;
    padding:20px 10px ;
    background-color: white;
 }
.search .inner{
    width: 100%;  background-color: #E8EBF1;
    border-radius: 3px;
    height: 40px;
    font-size: 16px;
}
/*set from place */
.setFrom{position: fixed;z-index: 1900;height: 50%; overflow: scroll;-webkit-overflow-scrolling: touch;bottom:0;width:100%;background-color: white;border-top:1px solid #dfe1e3;}
.setFrom .panel-heading{height: 30px ;background-color: #f5f5f5;padding-left: 20px;color:#b3b3b2}
.setFrom .list-group{ list-style: none}
.setFrom .list-group li{height: 30px;border-bottom: 1px solid #f5f5f5; color:#6f6f6f; font-size:12px; padding-top: 8px}
.setFrom .list-group li a:link{color:#6f6f6f}
.setFrom .list-group li a:visited{color:#6f6f6f}
.setFrom .close{position: absolute; top:6px;right: 10px;z-index: 800;color:#6f6f6f; font-size:12px;}
#setfromIdLay{width: 100%; height: 100% ;position:fixed;background-color: rgba(60,63,65,0.5);top:0;overflow: hidden}
#setfromId,#setfromIdLay{display: none}



.search .from{width: 20px;height:20px; overflow: hidden; float: left;margin: 6px}
.search .from img{width:100%;height:100%}
.search .search-ico{margin-left:25%}
.search .search-ico,.search .inner div{float: left; margin-top: 8px}

.travel-type{
    width:17%;
    height:12.5%;
    margin-left:6.2%;
    overflow: hidden;
    float: left;
    font-size: 14px;
    color: #333333;
}
.travel-type div img{
    width: 100%;
    height: 100%;
}
.travel-type span{
    display: block;
    width: 100%;
    text-align: center;
}
.travel-image-boundary{
    float: left;
    padding: 50px 30px 20px ;
    width: 100%;
    text-align: center;
}
.travel-image-boundary img{
    height:25px
}
.travel-menu div{
    width: 26.7%;
    float: left;
    background: #E8EBF1;
    color: #666666;
    border-radius: 50px;
    height: 2.6%;
    margin-left: 5%;
    text-align: center;
    padding: 4px;
    font-size: 15px;
}
.travel-menu .active{
    background-image: linear-gradient(-270deg, #3B91FE 0%, #8CBCFE 100%);
    color: #FFFFFF;
}
.travel-item-content{
    padding: 20px 10px 10px;
    overflow: hidden;
}
.travel-item-content .first ,.travel-item-content div ,.travel-item-content div img{
  width: 100%;
}

.travel-item-content .first .info {
     padding: 5px 0;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -33px;
}
.travel-item-content .first .info .money {
    float: right;
}
.travel-item-content .second {
    margin: 5px 0px;
}
.travel-item-content .second .little-item {
    width:48.5%;
    float: left;
    margin-top: 10px;
}
.travel-item-content .second .right {
    float: right;
}
.travel-item-content .second .info {
    margin-top: -24px;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    line-height: 22px;
}
.money-code{
    font-size: 10px;
    color: #999999;
    letter-spacing: 0;
}
.money-number{
    font-size: 16px;
    color: red;
    letter-spacing: 0;
    line-height: 28px;
}
.travel-address{
    width: 100%;
    height: 30px;
    background-color: rgba(0,0,0,0.4);
    padding:5px 10px;
    position:relative;
    bottom: 33px;
    color:white;

}
#travel-hot ,#travel-star{
    display: none;
}
/* common*/
.bounder{
    height: 45px;
    width:100%;
}
.footer{
    width: 100%;
    height: 45px;
    background: #FFFFFF;
    border-top: 1px solid rgba(153, 153, 153, 0.40);
    float:left;
    font-size: 12px;
    position: fixed;
    bottom: 0;

}
 .footer .item{
     float: left;
     margin:8px  12.7%
 }
.footer .item div{
    width:18px;
    height:18px;
    margin-left: 3px;
}
.footer .item .active{
    color: #3B91FF ;
}
.footer .item div img{
    width: 100%;
}


/*classify page*/
.classify-content-left{
    width: 25%;
    float: left;
    height: 100%;
    background-color: #FFFFFF
}
.classify-content-left div{
    width: 100%;
    border-bottom:1px solid  #E3E3E3;
    padding: 40px 0 ;
    text-align:center;
    font-size:14px;
    color:#3F2113 ;
}
.classify-content-left .active{
    color: #3B91FF;
}
.classify-content-right{
    width: 75%;
    float: left;
    height: 100%;
    background-color: #e8ebf1;
    padding-left: 15px;
}
.classify-content-right div div{width: 100%; overflow:hidden;}
.classify-content-right .district{
    width:100%;
    padding:10px;
    font-size: 14px;
    color: #999999;
}
.classify-content-right .detail-area span{
    display:block;
    padding: 5px 0px;
    background-color:white;
    font-size:14px;
    border-radius:4px;
    float:left;
    margin: 9px;
    width: 25%;
    text-align: center;
}
#around-line ,#internation-line,#self-line{
    display: none;
}